<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Auto Inventory Control</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<style>
		.error {
			color: red;
		}
	</style>
	<script>

		function gotoAddInventory(warehouseId) {

			var ele = document.getElementsByName('add_inv');
			let flag = 0;
			for (i = 0; i < ele.length; i++) {
				if (ele[i].checked) {
					flag = 1;
					let carmake = document.getElementById(ele[i].value).value;
					window.location.href = "new/" + warehouseId + "/" + ele[i].value + "/" + carmake;
				}
			}
			if (flag == 0)

				alert('Select Car Brand to add Inventory');
		}

		function gotoAddMake(warehouseId) {


			var carmake = document.getElementById('newcarmake').value;

			if (carmake.length == 0) {
				//let el = document.getElementById('newcarmake').st;
				//document.getElementById('newcarmake').placeholder='Car Make cannot be empty';
				//el.setAttribute("class" , "error");
				alert('Car Make cannot be empty');
			}

			if (carmake.length > 0) {
				window.location.href = "newmake/" + warehouseId + "/" + carmake;
			}
		}

		function showinventorydetails(carmakeId) {

			let xhr = new XMLHttpRequest();

			let resp;
			// Making our connection 
			let url = 'showinventorydetails/' + carmakeId;
			xhr.open("GET", url, true);

			// function executes after request is successful
			xhr.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {

					resp = JSON.parse(this.responseText);
					console.log(resp);
					let text = "";

					let formatting_options = {
						style: 'currency',
						currency: 'USD',
						minimumFractionDigits: 0,
					}
					
					let dollarString = new Intl.NumberFormat("en-US", formatting_options);
						

					resp.forEach(function (item, index) {
						
						let finalPrice = dollarString.format(item.price);
						
						text = text + "<tr><td>" + item.model + "</td>" +
							"<td> " + item.color + "</td>" +
							"<td>" + finalPrice + "</td>" +
							"<td>" + item.quantity + "</td>" +
							"<td><a href='/autoinventorycontrol/inventory/edit/" +
							item.inventoryid + "/" +
							item.carmakeid + "/" +
							"' class='btn btn-primary'>Update</a>" +
							"<span>    </span>" +
							"<a href='/autoinventorycontrol/deleteinventory/" +
							item.inventoryid + "/" +
							"' class='btn btn-danger'>Delete</a>" +

							"</td></tr><tr>";
					});

					document.getElementById("inventoryDets").innerHTML = text;
					let element = document.getElementById("inventoryDetstab");
					let hidden = element.getAttribute("hidden");
					if (hidden) {
						element.removeAttribute("hidden");

					}
				}
			}
			// Sending our request
			xhr.send();
		}
	</script>
</head>

<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/autoinventorycontrol/home">Auto Inventory Control System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/autoinventorycontrol/warehouses}">Warehouses</a>
				</li>

			</ul>
		</div>
	</nav>
	<br><br>

	<div class="container" style="width:500px;">
		<br><br>

		<h3>[(${warehouseLoc})]</h3>




		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Inventory Details</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carmake : ${carmakelist}">
					<td>
						<input type="radio" th:value="${carmake.makeId}" id="carmakeradio" name="add_inv">
						<input type="hidden" th:value="${carmake.make}" th:id="${carmake.makeId}" }>
						<a th:onclick="showinventorydetails([[${carmake.makeId}]]);" th:text="${carmake.make}"
							style="cursor: pointer" />
					</td>
				</tr>
			</tbody>
		</table>

		<div class="input-group mb-3">
			<input type="text" class="form-control" id="newcarmake" placeholder="Add New Car Make"
				aria-label="Recipient's username" aria-describedby="basic-addon2">


			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button"
					style="background-color: #007bff;color:whitesmoke"
					th:onclick="gotoAddMake([[${warehouseId}]]);">Add</button>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:onclick="gotoAddInventory([[${warehouseId}]]);" class="btn btn-primary btn-sm mb-3"
					style="color:white">Add New
					inventory</a>
			</div>
		</div>
	</div>

	<table class="table table-bordered" hidden="hidden" id="inventoryDetstab" style="width:800px;" align="center">
		<thead class="thead-light">
			<tr>
				<th>Model</th>
				<th>Color</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="inventoryDets">

		</tbody>
	</table>





</body>


</html>