<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Auto Inventory Control</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<style>
		.error {
			color: red;
		}
	</style>


	<script th:src="@{/js/showinventory.js}"></script>
	<script>
		function validateform() {
			let model = document.getElementById('model').value;
			let color = document.getElementById('color').value;
			let quantity = document.getElementById('quantity').value;
			let price = document.getElementById('price').value;

			if (model.length == 0) {
				let element = document.getElementById("modelerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else
				document.getElementById('modelerror').hidden = true
				
			if (color.length == 0) {
				let element = document.getElementById("colorerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else
				document.getElementById('colorerror').hidden = true
			
			if (quantity <= 0) {
				let element = document.getElementById("quantityerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else if(isNaN(quantity))
			{
				let element = document.getElementById("quantitynanerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else if(quantity>5)
			{
				let element = document.getElementById("quantitylogerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else
				{
					document.getElementById('quantityerror').hidden = true
					document.getElementById('quantitynanerror').hidden = true
					document.getElementById('quantitylogerror').hidden = true
				}
			
			if (price <= 0) {
				let element = document.getElementById("priceerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else if(isNaN(price))
			{
				let element = document.getElementById("priceerror");
				let hidden = element.getAttribute("hidden");
				element.removeAttribute("hidden");
			}
			else
			{
				document.getElementById('priceerror').hidden = true
				document.getElementById('pricenanerror').hidden = true
				
			}
			
			if(model.length>0 && color.length>0 && quantity>0 && quantity<6 && price>0)
			{
				const form = document.getElementById("createinv");
				form.submit();
			}

		}
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/autoinventorycontrol/home">Auto Inventory Control System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/autoinventorycontrol/warehouses}">Warehouses</a>
				</li>

			</ul>
		</div>
	</nav>
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center"> Create Inventory for</h1>
				<h3 class="text-center"> WareHouse: [(${warehouseLoc})]</h3>
				<h5 class="text-center"> Make: [(${carmake})]</h5>

				<div class="card-body">
					<form id="createinv" action="#" th:action="@{/autoinventorycontrol/inventory/{makeid}(makeid=${makeid})}"
						th:object="${carinventorydto}" method="POST" onsubmit="validateform();">
						
						<div class="form-group">
							<label> Required fields marked as * </label>
						</div>
						<div class="form-group">
							<label> Model* </label>
							<input type="text" name="model" id="model" th:field="*{model}" class="form-control"
								placeholder="Car Model">
							<label class="error" id="modelerror" hidden="true"> Model cannot be empty </label>
						</div>
						<div class="form-group">
							<label> Color* </label>
							<input type="text" name="color" id="color" th:field="*{color}" class="form-control"
								placeholder="Color">
							<label class="error" id="colorerror" hidden="true"> Color cannot be empty </label>
						</div>
						<div class="form-group">
							<label> Quantity* </label>
							<input type="text" name="quantity" id="quantity" th:field="*{quantity}" class="form-control"
								placeholder="Quantity">
							<label class="error" id="quantityerror" hidden="true"> Quantity cannot be less than zero and greater than 5</label>
							<label class="error" id="quantitynanerror" hidden="true"> Quantity should be a number</label>
							<label class="error" id="quantitylogerror" hidden="true"> Each model cannot contain more than 5 cars</label>
						</div>
						<div class="form-group">
							<label> Price* </label>
							<input type="text" name="price" id="price" th:field="*{price}" class="form-control"
								placeholder="Enter Price">
							<label class="error" id="priceerror" hidden="true"> Price cannot be less than zero </label>
							<label class="error" id="pricenanerror" hidden="true"> Price should be a number</label>
						</div>

						<div class="box-footer">
							<button type="button" id="illsub" onclick="validateform();" class="btn btn-primary">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>



</body>


</html>