<!-- 
	
	

**************************	Whenever there's an error or exception in the application, 
				or if user tries to navigate to a non existing page, the user is navigated to this page ******************** 




-->

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Auto Inventory Control</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<h3>The page you are looking for is unavailable. Please goto home page. </h3>

	<div class="container">
		<div class="row">
			<a href="/autoinventorycontrol/home" style="font-size: 30px;">Auto Inventory Control</a>
		</div>



	</div>

</body>

</html>