<html>

<head>

	<title>
		Auto Inventory Control
	</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

	<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		 Brand 
		<a class="navbar-brand" href="#">Auto Inventory Control System</a>

		 Toggler/collapsibe Button 
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		 Navbar links 
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/autoinventorycontrol/warehouses}">Warehouses</a>
				</li>

			</ul>
		</div>
	</nav>-->
	<br><br>
	<div class="card">
		<h5 class="card-header">About Auto Inventory Control System</h5>
		<div class="card-body">
			<h5 class="card-title"></h5>
			<p class="card-text">Auto Inventory control system is a mangement tool used by the warehouse manager to update the inventory details. Click on the below button to get started</p>
			<a th:href="@{/autoinventorycontrol/warehouses}" class="btn btn-primary">Warehouse Information</a>
		</div>
	</div>
</body>

</html>